<a href="https://colab.research.google.com/github/Tseu0/COMMIT/blob/master/premierconnexion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# prompt: code python pour me connecté a API alphavantage

!pip install alpha_vantage

import pandas as pd
from alpha_vantage.timeseries import TimeSeries

# Remplacez 'YOUR_API_KEY' par votre clé API Alpha Vantage
api_key = 'O7M12YGVC96VAUA4'

ts = TimeSeries(key=api_key, output_format='pandas')

# Obtenir les données de série chronologique pour une action spécifique (par exemple, AAPL)
data, meta_data = ts.get_daily(symbol='AAPL', outputsize='compact')

# Afficher les données
print(data.head())

# Vous pouvez accéder aux données comme un DataFrame Pandas
# Par exemple, pour obtenir le prix de clôture :
closing_prices = data['4. close']
closing_prices

Requirement already satisfied: alpha_vantage in /usr/local/lib/python3.10/dist-packages (3.0.0)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.10/dist-packages (from alpha_vantage) (3.10.10)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from alpha_vantage) (2.32.3)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->alpha_vantage) (2.4.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp->alpha_vantage) (1.3.1)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->alpha_vantage) (24.2.0)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp->alpha_vantage) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp->alpha_vantage) (6.1.0)
Requirement already satisfied: yarl<2.0,>=1.12.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->alpha_vantage) (1.17.1)
Requirement already satisfied: async-timeout<5.0,>=4.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp->alpha_vantage) (4.0.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->alpha_vantage) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->alpha_vantage) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->alpha_vantage) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->alpha_vantage) (2024.8.30)
Requirement already satisfied: typing-extensions>=4.1.0 in /usr/local/lib/python3.10/dist-packages (from multidict<7.0,>=4.5->aiohttp->alpha_vantage) (4.12.2)
Requirement already satisfied: propcache>=0.2.0 in /usr/local/lib/python3.10/dist-packages (from yarl<2.0,>=1.12.0->aiohttp->alpha_vantage) (0.2.0)
            1. open  2. high   3. low  4. close  5. volume
date
2024-11-15  2566.97  2571.76  2563.18   2566.73        0.0
2024-11-14  2571.00  2577.54  2536.89   2566.95        0.0
2024-11-13  2599.06  2618.91  2569.46   2570.97        0.0
2024-11-12  2624.08  2627.21  2589.80   2599.03        0.0
2024-11-11  2685.69  2686.23  2610.67   2624.08        0.0

date
2024-11-15    2566.73
2024-11-14    2566.95
2024-11-13    2570.97
2024-11-12    2599.03
2024-11-11    2624.08
               ...
2024-07-28    2397.16
2024-07-26    2387.19
2024-07-25    2363.91
2024-07-24    2398.71
2024-07-23    2408.64
Name: 4. close, Length: 100, dtype: float64